<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="baseLayout :: header"></div>
</head>
<body>

<div class="container my-2">
	<div th:replace="baseLayout :: title"></div>
	<hr>
	<h2>Add New Student</h2>
	<form action="#" th:action="@{/addNewStudent}" th:object="${student}" method="POST">
		<input type="text" th:field="*{student_name}" placeholder="Student name here" class="form-control mb-4 col-4">
		<input type="number" th:field="*{fee}" placeholder="Fee name here" class="form-control mb-4 col-4">
		<h5>Courses</h5>
		<div class="form-check" th:each="course: ${listCourse}">
				<input type="checkbox"
				th:field="*{courses}"
				th:value="${course.id}"
				 class="form-check-input">
				<label class="form-check-label" 
				th:text="${course.course_name}"></label>
		</div>
		<button type="submit" class="btn btn-info col-2">Add Student</button>
	</form>
	<hr>
	<a th:href=@{/student}>Back to Student List</a>
	
	<div th:insert="baseLayout :: footer"></div>
</div>	
</body>
</html>