<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="baseLayout :: header"></div>
</head>
<body>

<div class="container my-2">
	<div th:replace="baseLayout :: title"></div>
	<hr>
	<h2>Update Course</h2>
	
	<form action="#" th:action="@{/addNewCourse}" th:object="${course}" method="POST">
	
		<input type="hidden" th:field="*{id}">
		
		<input type="text" th:field="*{course_code}" placeholder="Course code here" class="form-control mb-4 col-4">
		<input type="text" th:field="*{course_name}" placeholder="Course name here" class="form-control mb-4 col-4">
		<input type="text" th:field="*{course_type}" placeholder="Course type here" class="form-control mb-4 col-4">
		
		<button type="submit" class="btn btn-info col-2">Update Course</button>
	</form>
	<hr>
	<a th:href=@{/course}>Back to course List</a>
	
	<div th:insert="baseLayout :: footer"></div>
</div>	

</body>
</html>