<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="baseLayout :: header"></div>
</head>
<body>
<div class="container my-2">
	<div th:replace="baseLayout :: title"></div>
	<hr>
	<h2>Update Teacher</h2>
	
	<form action="#" th:action="@{/addNewTeacher}" th:object="${teacher}" method="POST">
		
		<input type="hidden" th:field="*{id}">
		
		<input type="text" th:field="*{teacher_name}" placeholder="Teacher name here" class="form-control mb-4 col-4">
		<input type="text" th:field="*{mobile_number}" placeholder="Mobile number here" class="form-control mb-4 col-4">
		<input type="text" th:field="*{email_address}" placeholder="Email address here" class="form-control mb-4 col-4">
		<input type="text" th:field="*{address}" placeholder="Address here" class="form-control mb-4 col-4">
		<h5>Courses</h5>
		<div class="form-check" th:each="course: ${listCourse}">
			<input type="checkbox" th:field="*{courses}"
			th:value="${course.id}" class="form-check-input">
			<label class="form-check-label" th:text="${course.course_name}"></label>
		</div>
	
		<button type="submit" class="btn btn-info col-2">Update Teacher</button>
	</form>
	<hr>
	<a th:href=@{/teacher}>Back to Teacher List</a>
	
	<div th:insert="baseLayout :: footer"></div>
</div>	
</body>
</html>