<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="baseLayout :: header"></div>
</head>
<body>
	<div class="container my-2">
		<div th:replace="baseLayout :: title"></div>
		<hr>
		<div th:replace="baseLayout :: navbar"></div>
		<hr>
		<h3>Teacher List</h3>
		<a th:href="@{/showTeacherForm}" class="btn btn-primary btn-sm mb-3">Add New Teacher</a>
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Teacher Name</th>
					<th>Mobile Number</th>
					<th>Email Address</th>
					<th>Address</th>
					<th>Course Name</th>
					<th>Actions</th>
				</tr>
			</thead>
				
			<tbody>
				<tr th:each="teacher: ${listteacher}">
					<td th:text="${teacher.teacher_name}"></td>
					<td th:text="${teacher.mobile_number}"></td>
					<td th:text="${teacher.email_address}"></td>
					<td th:text="${teacher.address}"></td>
					<td th:text="${teacher.courses}"></td>
					<td><a th:href="@{/showUpdateTeacherForm/{id}(id=${teacher.id})}" class="btn btn-primary">Update</a> <a th:href="@{/deleteTeacher/{id}(id=${teacher.id})}" class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>
		<div th:insert="baseLayout :: footer"></div>
	</div>
</body>
</html>