<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="baseLayout :: header"></div>
<body>
<div class="container my-2" align="center">
	<div th:replace="baseLayout :: title"></div>
	<hr>
	<h2>Login</h2>
	<hr>
	<div th:if="${param.error}">
		<div class="alert alert-danger">Invalid username or password.</div>
	<hr>	
	</div>
	
	<div th:if="${param.logout}">
		<div class="alert alert-info">You're successfully logout.</div>
	<hr>	
	</div>
	<form action="#" th:action="@{/login}" method="POST">
		<input type="text" placeholder="Username here" name="username" class="form-control mb-4 col-4">
		<input type="password" placeholder="Password here" name="password" class="form-control mb-4 col-4">
		<button type="submit" class="btn btn-info col-2">Login</button>
	</form>
	<hr>
	<a>Forgot Password?</a> | <a th:href="@{/register}">New User? Register here</a>
	
	<div th:insert="baseLayout :: footer"></div>
</div>
</body>
</html>