<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<div th:replace="baseLayout :: header"></div>
</head>
<body>
<div class="container my-2" align="center">
	<div th:replace="baseLayout :: title"></div>
	<hr>
	<h2>Register</h2>
	<hr>
	
	<div th:if="${param.success}">
		<div class="alert alert-info">You're successfully registered</div>
	<hr>	
	</div>
	
	<form action="#" th:action="@{/registration }" th:object="${user}" method="POST">
		<input type="text" th:field="*{first_name}" placeholder="Firstname here" class="form-control mb-4 col-4">
		<input type="text" th:field="*{last_name}" placeholder="Lastname here" class="form-control mb-4 col-4">
		<input type="password" th:field="*{password}" placeholder="Password here" class="form-control mb-4 col-4">
		<input type="text" th:field="*{email}" placeholder="Email here" class="form-control mb-4 col-4">
<!-- 		<h5>Roles</h5> -->
<!-- 		<div class="form-check" th:each="role: ${listRoles}"> -->
<!-- 				<input type="checkbox" -->
<!-- 				th:field="*{roles}" -->
<!-- 				th:value="${role.id}" -->
<!-- 				 class="form-check-input"> -->
<!-- 				<label class="form-check-label"  -->
<!-- 				th:text="${role.role_name}"></label> -->
<!-- 		</div> -->
		<button type="submit" class="btn btn-info col-2">Register</button>
	</form>
	<hr>
	<a th:href="@{/}">Click here to login</a>
</div>
</body>
</html>