<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="header">
			<meta charset="UTF-8">
			<title>Student Management System</title>
			
			<link rel="stylesheet"
				href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
				integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
				crossorigin="anonymous">
		</div>
		
		<div th:fragment="title">
			<h1 align="center">Student Management System</h1>
		</div>
		
		<div th:fragment="navbar">
			<h2><a th:href="@{/users}">Users</a> | <a th:href="@{/roles}">Roles</a> |</a><a th:href="@{/student}">Student</a> | <a th:href="@{/course}">Course</a> | <a th:href="@{/teacher}">Teacher</a></h2>
		</div>
		
		<div th:fragment="footer">
			<p align="center">Copyright@2022</p>
		</div>
	</body>
</html>